
.category{
    position:relative;
    height:300px;
    width:300px;
    background-color: pink;
    top:-120px;
    box-shadow: 0 0 1px 2px rgba(0,0,0,.1);
    display: flex;
    justify-content:center;
    margin: 80px;

}
.category img{
    height:100%;
    width:100%;
}
.shadow{
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.4);
    z-index: 2;
    position:absolute;
    transition:.2s ease 0s;
}
.category:hover .shadow{
    background-color: rgba(0,0,0,.6);
}
.categoryName{
    position:absolute;
    width:100%;
    top:50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-family:"Microsoft JhengHei UI Light";
    color:white;
    z-index: 3;
}

.container1{
    position: relative;
    top:400px;
    height:400px;
    display: block;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .category{
        height:100px;
        width:100px;
        float: left;
        display: inline-block;
        margin-left:0;
    }
    .categoryName{
        font-size:15px;
    }
    .footer{
        margin-top:-50px;
    }
}

@media screen and (min-width:600px) and (max-width:960px){
    .category{
        height:150px;
        width:150px;
        float: left;
        display: inline-block;
        margin: 40px ;
        margin-top:20px;
    }
    .categoryName{
        font-size:15px;
    }
    .footer{
        margin-top:120px;
    }
}