::-webkit-scrollbar{
   width:12px;
    /*height:200px;*/
}

::-webkit-scrollbar-track-piece{
    background-color: #F5FAF9;
}
::-webkit-scrollbar-thumb{
    background-color: #D9EBF6;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 0;
}
body{
    background-color: #F4EFE9;
}
.page{
    transition: .3s ease 0s;
    transform: translateX(0);
    width:100%;
}

.pageScale{
    transform:translateX(-10%);
}
.navbar-brand{
    /*left:0px;*/
    top:10%;
    color:rgba(0,0,0,.5)!important;
    display: block;
    position:relative;
}
.navbarBrandLeft{
    left:34%;
}


.carousel-inner img {
    width: 100%;
    display: block;
    height: 400px;
}

.contentBox {
    /*position: absolute;*/
    height: 40%;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .1);
    margin-top: 2%;
    transition: .2s ease;
    padding: 0;
    width: 70%;

}
.content:first-child{
    margin-top:-8%;
}


.contentBox:hover {
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, .1);
}

.navbar {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 999;
}

.navWrap {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    transition: .3s ease 0s;
}

.openNav {
    height: 40px;
    width: 40px;
    position: absolute;
    left: -30%;
    top: 1%;
    cursor: pointer;
    z-index: 9999;
}

.iconBefore {
    z-index: 1;
    height: 3px;
    width: 32px;
    background-color: #fff;
    position: absolute;
    top: 8px;

    transition: .6s ease 0s;
    transform-origin: left top;
    transform: rotate(41deg);
    left: 4px;
}
.iconAfter {
    z-index: 1;
    height: 3px;
    width: 32px;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 4px;
    transition: .6s ease 0s;
    transform-origin: left bottom;
    transform: rotate(-40deg);
}
.grey{
    background-color:#7C7C7D!important;
}
.opacity0{
    background-color: rgba(0,0,0,0)!important;
}
.icon {
    height: 3px;
    width: 32px;
    background-color: #fff;
    position: absolute;
    top: 18px;
    left: 4px;
    transition: .6s ease 0s;
}

.beforeDeg {
    transform: rotate(0deg);
    left: 4px;
}


.afterDeg {
    transform: rotate(0deg);
    left: 4px;
}
.sideNav{
    position: fixed;
    height:100%;
    width:22%;
    /*top:-60px;*/
    right:0;
    background-color: #F5FAF9;
    transition: .3s ease 0s;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
    z-index: 9999;
}
.sideNavSlide{
    right:-22%;

}

.avatarBox{
    position:relative;
    height:40%;
    width:100%;
}
.avatar{
    height:50vw;
    width:50%;
    position:absolute;
    top:30%;
    left:50%;
    margin-left: -25%;

}
.quote{
    position:absolute;
    bottom:1%;
    width:70%;
    left:50%;
    margin-left: -35%;
    top:80%;
    cursor:default;
}
.btns{

    height:50%;
    width:100%;
}
.buttonWarp{
    width:100%;
    height:12%;
    /*background-color: pink;*/
    /*font-size: 160%;*/
    position: relative;
}
.buttonWarp a{
    text-decoration: none;
    transition:.1s ease-in 0s;
}
.buttonWarp a:after{
    content:'';
    position:absolute;
    width:0px;
    margin-left:-25px;
    height: 0;
    bottom:10px;
    left:50%;
    border-bottom:#13AE6E 4px solid;
}


.buttonWarp:hover{
    border-left: 2px solid darkseagreen;
    background-color: rgba(0,0,0,.1);
}

.opacity1 {
    background-color: #F8F9FA;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    height: 55px;
}

.categories{
    background-color: #F4F3EE;
}
.categoriey1,.categoriey2,.categoriey3{
    position:relative;
    height: 300px;
    top:-5px;
    width:30%;
    /*border-radius: 1%;*/
}
.categoriey1{
    background-color:#F5EEEC;
}
.categoriey2{
    background-color: #E7F1ED;
}
.categoriey3{
    background-color: #F7F7F7;
}


.titleImg {
    width: 100%;
    height: 100%;
}

.titleImg img {
    height: 100%;
    width: 100%;
}

.title {
    position:absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .3);
    bottom:0px;
    color: whitesmoke;
}


.footer {
    width: 100%;
    height: 200px;
    background-color: darkgrey;
}

/*#demo{*/
    /*position:fixed!important;*/
    /*top:0;*/
    /*wi;*/
/*}*/